#search {
  width: 100%;
  position: relative;
}

#dropdown {
  position: absolute;
  right: 5rem;
  left: 0;
  z-index: 1;
  margin-top: 0.2rem;
  border: 0.1rem solid rgb(160, 160, 160);
}

#search-box {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0;
  grid-area: search-box;
}

#search-box input {
  width: 90%;
  outline: none;
  border: none;
  padding: 1rem;
  font: 400 1.6rem Archivo;
}

#search-box button {
  width: 10%;
  outline: none;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  background-color: rgb(128, 125, 255);
  min-width: 5rem;
}

#search-box button svg {
  width: 3rem;
}
