#search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

#search-box:focus-within {
  width: 100%;
  animation: showInput 0.3s both;
}

#search-box:not(:focus-within) {
  animation: hideInput 0.3s both;
}

#search-box:not(:focus-within) + #dropdown {
  animation: hideDropdown 0.3s both;
}

#dropdown {
  position: absolute;
  width: 100%;
  z-index: 2;
  margin-top: 4.5rem;
  border: 0.1rem solid rgb(160, 160, 160);
  max-height: 50vh;
  overflow: auto;
}

::-webkit-scrollbar-track {
  background: rgb(212, 212, 212);
}

#search-box {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0;
  grid-area: search-box;
  background-color: white;
  width: 70%;
}

#search-box input {
  outline: none;
  border: none;
  padding: 1rem;
  font: 400 1.6rem Archivo;
}

#search-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#search-input input {
  width: 100%;
}

#search-input #search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
}

#search-input #search-icon svg {
  width: 3rem;
  flex-shrink: 1;
  color: rgb(104, 104, 104);
}

#search-input #search-icon img {
  width: 3rem;
}

@keyframes hideInput {
  from {
    width: 100%;
  }
  to {
    width: 70%;
  }
}

@keyframes showInput {
  from {
    width: 70%;
  }
  to {
    width: 100%;
  }
}

@keyframes hideDropdown {
  from {
    width: 100%;
  }
  to {
    width: 70%;
    opacity: 0;
  }
}
