:root {
  --total-hide: -100%;
}

#navbar {
  width: 100vw;
  background-color: rgb(51, 192, 51);
  padding: 1.5rem;
}

#navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar-site-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-logo {
  width: 3.5rem;
}

#title {
  font: 400 2.5rem Archivo;
  color: whitesmoke;
  margin-left: 1rem;
}

#navar-menu ul {
  list-style: none;
}

#navar-menu ul li {
  display: inline;
  font: 400 1.9rem Poppins;
  color: whitesmoke;
}

#navar-menu ul li + li {
  margin-left: 2rem;
}

#aside-menu-items {
  height: 100vh;
  width: 75vw;
  position: fixed;
  background-color: rgb(236, 236, 236);
  top: 0;
  left: var(--total-hide);
  z-index: 2;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.on {
  animation: slideIn 0.3s both;
}

.off {
  animation: slideOut 0.3s both;
}

@keyframes slideIn {
  from {
    left: var(--total-hide);
  }
  to {
    left: 0;
  }
}

@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: var(--total-hide);
  }
}
