.petcard {
  flex: 0 0 calc(33.3% - 2rem);
  border-radius: 0.3rem;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.petcard:last-child {
  margin-right: 0;
}

#petcard-pet-info {
  padding: 0.1rem 1.5rem 1.5rem;
}

#petcard-pet-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

#petcard-pet-picture img {
  height: 31rem;
  border-radius: 0.2rem;
  background-color: red;
}

#petcard-pet-title {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  height: 2rem;
}

#petcard-pet-title h2 {
  color: rgb(38, 180, 73);
}

#petcard-pet-title #petcard-pet-title-space {
  margin: 0 1rem;
  padding: 0 0.01rem;
  height: 100%;
  background-color: grey;
}

#petcard-pet-description {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}

#petcard-pet-location {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#petcard-pet-location img {
  width: 2rem;
  margin-right: 0.7rem;
}

#petcard-pet-location span {
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  .petcard {
    flex: 0 0 100%;
  }

  #petcard-pet-picture img {
    height: 20rem;
  }
}
