.dropdown-item {
  background-color: rgb(248, 248, 248);
  padding: 0.9rem 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.1s;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgb(35, 181, 40);
}

.dropdown-item:hover .dropdown-pet-info span,
.dropdown-item:hover .dropdown-pet-info h4 {
  color: white;
}

.dropdown-item + .dropdown-item {
  border-top: 1px solid rgb(228, 228, 228);
}

.dropdown-item img {
  height: 5rem;
}

.pet-picture {
  width: 7.6rem;
  display: flex;
  justify-content: center;
}

.dropdown-pet-info {
  margin-left: 0.7rem;
}

.dropdown-pet-info h4 {
  text-align: left;
  line-height: 0.4rem;
  color: black;
  transition: color 0.1s;
}

.dropdown-pet-info span {
  font: 400 1.4rem Archivo;
  text-decoration: none;
  color: black;
  transition: color 0.1s;
}
